/*===== Global =============*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

#page, header div{
  max-width: 90%;
  margin: auto;
  text-align: center;
}

body{
  background-color: #000000;
  color: #e4e1e1;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

/*===== Logo and Search =============*/
header{
  min-height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(180deg, #220e96 30%,#000000 100%);
}

header div.contentHeader{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

header button{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.2rem;
  padding: .5rem;
  background: none;
  color: #b6b6b6;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

div.logo a{
  text-decoration: none;
  color: #e4e1e1;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 4.6rem;
}

header #search input{
  background-color: rgba(0, 0, 0, 0.096);
  border: 1px solid #e4e1e171;
  border-radius: 1rem;
  border: 1px solid #2d12c4;
  color: #e4e1e1;

  font-size: 2rem;
  line-height: 2.4rem;
  padding-inline: 1rem;
  min-height: 4.2rem;

  align-items: center;
  justify-content: center;
}

header button:hover{
  background-color: #2811aa;
}

/*===== Create and Login Account =======*/
header #account{
  display: flex;
  gap: 1rem;
}

header #account #createAccount{
  background-color: #472BE3;
}
header #account #createAccount:hover{
  filter: brightness(1.1);
}

/*========= modal ================*/

dialog{
  margin: auto;
  border: none;
  border-radius: .5rem;
  
  width: 90%;
  min-height: 20rem;

}


dialog::backdrop{
  background-color: #0000009f;
}

dialog fieldset{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  border: none;
}

dialog legend{
  font-size: 3.2rem;
  font-weight: 700;
  padding-block: 2rem 1rem;
}

dialog label{
  font-size: 2.6rem;
}

dialog input{
  font-size: 2.4rem;
  padding: .5rem;
  margin-bottom: 2rem;
  border: 1px solid gray;
  border-radius: 1rem;
}

dialog div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 2rem;
  padding-block: 0 2rem;
}

dialog button, dialog a{
  min-width: 30%;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

dialog .submitLogin, dialog .submitNewUser{
  background-color: rgb(20, 202, 20);
  border: none;
  color: black;
  cursor: pointer;
}
.closeModal{
  background-color: rgb(245, 54, 54);
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/*===== Movie and Series =============*/
body .cards h2{
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4.2rem;
  letter-spacing: 0.1rem;
  margin: 5rem 0 1rem;
}

body .cards ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  list-style: none;
}

body .cards ul li img{
  border: 1px solid gray;
  border-radius: .5rem;
  cursor: pointer;
}

/*===== Footer =============*/
footer{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 2rem;
  flex-wrap: wrap;
  margin-block: 5rem;
}

footer .links{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .links .logo{
  text-align: left;
}
footer .links span ~ span{
  color: #3085f5;
}

footer ul{
  display: flex;
  gap: 1rem;

  list-style: none;
}

footer .quickLinks h2{
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

footer .quickLinks ul{
  flex-direction: column;
  text-decoration: none;
  color: #b6b6b6;
}

footer .quickLinks ul li a{
  text-decoration: none;
  color: #b6b6b6;
  font-size: 2rem;
}

/*========== MEDIA ==========*/

@media (min-width: 720px){
  main dialog{
    width: 50rem;
  }
}